<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="academic"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 🔹 Mueve esta meta-data a <application> en lugar de <activity> -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin"
            android:value="380921306547-pk3jgp29cave6nrqoip5jbifhduqrn2l.apps.googleusercontent.com" />

        <!-- 🔹 Mantén este meta-data de Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
    </application>

    <!-- Requerido para procesar texto en Android -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
